

.c__filters {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;

  &__refresh {
    // FIXME - Introduce a 'large' mode for button component in Cunningham.

    &.c__button--medium.c__button--icon-only {
      height: 56px;
      width: 56px;
    }
  }
}
